/*.debug {*/
/*border: red solid 1px;*/
/*}*/


body {
    background-color: whitesmoke;

}

div#calc_container {
    position: relative;
    margin: 20px;
    padding: auto;

}

div.calc_screen {
    width: 600x;
    margin: 10px auto;
    margin-top: 88px;
    text-align: center;

}

input#operator, input#leftOp, input#rightOp {
    width: 100px;
    height: 50px;
    margin: 1px auto;
    margin-top: 50px;
    padding: 0px;
    box-shadow: 1px 21x;
    background-color: #DDE0A4;
    font-size: 15px;
    font-family: 'Orbitron', sans-serif;;
}


div.all_btns {
    width: 316px;
    margin: 0px auto;


}

button {
    padding: 30px;
    font-size: 20px;
    box-shadow: 2px 2px;
}


button#btnEqual {
    background-color: orange;
    color: white;
    border-radius: 25px;
    padding: 20px;
    width: 77px;
    height: 85px;
    font-style:
}

#btnPlus, #btnMinus, #btnMult, #btnDivide {
    background-color: #FA4013;
    color: white;
    font-style:
    /*font-variant-numeric: 4px;*/

}

button#btnClear {
    background-color: orange;
    color: white;
    border-radius: 25px;
    padding: 20px;
    width: 77px;
    height: 85px;
}

