body {
    background-color: lightgray;

}

div.calc_container {
    position: relative;
    margin: 20px;
    padding: auto;

}

div.number_btns {
    width: 316px;
    margin: 0px auto;

}

/*#btnOne, #btnTwo {*/
    /*background-color: saddlebrown;*/
/*}*/

div.calc_screen {
    width: 600x;
    margin: 10px auto;
    margin-top: 88px;
    text-align: center;

}

button {
    padding: 30px;
    font-size: 20px;
    box-shadow: 2px 2px;
}

input#operator, input#leftOp, input#rightOp {
    width: 100px;
    height: 50px;
    margin: 1px auto;
    margin-top: 50px;
    /*box-shadow: 2px 2px;*/
}

button#btnEqual {
    background-color: orange;
}


