body{
    margin: 20%;
    padding: auto;
    font-family: 'Futura';
}

img{
    max-width: 10%;
}

.like-a-header{
    font-size: 400%;
}

button {
    background-color: gainsboro;
    border-style: hidden;
    padding: 5% 10%;
    font-size: 200%;
    -webkit-margin-before: 0.25em;
    -webkit-margin-after: 0.25em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
}

.operator {
    background-color: orange;
    color: white;
}

.textBox {
    cursor: not-allowed;
    font-size: 200%;
    padding: 5% 0%;
    text-align: center;
    border: inset 1px black;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    width: 31%;
}

#redDot{
    float: right;
}